</main><!-- /.container -->
<br><br><br>
<hr>
<p class="text-center">&COPY; BeautyApp</p>
        <script src="public/js/bootstrap/bootstrap.min.js"></script>
        <script src="//cdn.ckeditor.com/ckeditor5/1.0.0-beta.1/classic/ckeditor.js"></script>
        <script src="/public/js/main.js"></script>
    </body>
</html>